<% include header.ejs %>
<link rel="stylesheet" href="/css/tictactoe.css">
</head>
<body>
    <div id="game">

            <table>
              <tr>
                <td class="cell" id="11"></td>
                <td class="cell" id="12"></td>
                <td class="cell" id="13"></td>
              </tr>

              <tr>
                <td class="cell" id="21"></td>
                <td class="cell" id="22"></td>
                <td class="cell" id="23"></td>
              </tr>

              <tr>
                <td class="cell" id="31"></td>
                <td class="cell" id="32"></td>
                <td class="cell" id="33"></td>
              </tr>

            </table>

            <div class="chooseMark">
              <div class="chooseText">select a symbol:</div>
              <button value='X' onclick='startGame(value)'>X</button>
              <button value='O' onclick='startGame(value)'>O</button>
            </div>

            <div class="endGame">
              <div class="text"></div>
              <button id='replay' onclick='replay()'>REPLAY</button>
            </div>

          </div>
          <script src="js/tictactoe.js"></script>   
          
          <% include footer.ejs %>